<%- include("./partials/header") %>

<div class="container">
  <div class="toprow">
    <div class="form-group row form1">
      <label class="col-sm-3 col-form-label">IP:</label>
      <div class="col-sm-9">
        <input
          class="form-control name"
          type="text"
          value="<%= ipPort %>"
          readonly
        />
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
