<%- include("partials/header") %>

<div class="row toprow">
      <div class="col-sm">
          <h1 class="display-6">Welcome <%= currentUser.username %></h1>
          <form action="/data" method="POST">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </form>
    
        </div>
    </div>

            <div class="row toprow2">
          <div class="col-sm">
                 
                  <form action="/pages" method="get">
                      <button class="btn btn-danger btn-lg btn-pad">Open Offer</button>  
                  </form>
              </a>
          </div>
        </div>


<%- include("partials/footer") %>