<%- include("partials/header") %>

<div class="row toprow">
      <div class="col-sm">
         
          <form action="/data" method="POST">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </form>
    
        </div>
    </div>

         
        </div>


<%- include("partials/footer") %>