<%- include("../partials/header") %>
<div class="container">
  <form>
    <% Object.keys(usadata).forEach(function(key) { %>
    <div class="form-group row form1">
      <label class="col-sm-3 col-form-label"><%= key %>:</label>
      <div class="col-sm-9">
        <input
          class="form-control name"
          type="text"
          value="<%= usadata[key] %>"
          readonly
        />
      </div>
    </div>
    <% }); %>
  </form>
</div>
<%- include("../partials/footer") %>
